[init]
	defaultBranch = main
[user]
	email = riipeckx@riipeckx.io
	name = riipeckx
	signingkey = riipeckx@riipeckx.io
# [diff]
# 	tool = vimdiff
# [difftool]
# 	prompt = false
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE